# Main frontend
{$DOMAIN} {
	reverse_proxy frontend:80
}

# Convex API backend
{$API_DOMAIN} {
	reverse_proxy backend:3210
}

# Convex Actions (HTTP actions, webhooks)
{$API_DOMAIN}:3211 {
	reverse_proxy backend:3211
}

# Convex Dashboard
{$DASH_DOMAIN} {
	reverse_proxy dashboard:6791
}
